* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #da7f0f 0%, #744605 100%);
}