.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70 px;
    background-color: #f0d0a1;
    min-height: 100vh;

}

h1 {
    font-size: 32 px;
    background-color: rgb(252, 181, 49);
    color: #222;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    width: 380px;
    padding: 6px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 25px;
    align-items: center;
    width: 440px;
    max-width: 90%;
    background-color: #fff;
    padding: 25px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    & input,
    & select {
        border: 1px solid #ffb347;
        border-radius: 8px;
        height: 40px;
        background-color: #fff;
        color: #333;
        font-size: 16px;
        padding: 0 10px;
        outline: none;
    }


    & button {
        border: none;
        border-radius: 10px;
        background-color: rgb(255, 166, 0);
        height: 42px;
        width: 180px;
        font-weight: bold;
        cursor: pointer;
        color: white;
        font-size: 18px;
        transition: .4s;
    }

    & button:hover {
        background-color: #e99800;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 10px;
    padding: 10px;
    width: 440px;
    max-width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    & p {
        color: #e99800;
        font-weight: bold;
        font-size: 16px;

        & span {
            font-weight: normal;
        }
    }

    .delete-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .delete-button:hover {
        opacity: 0.8;
    }

    .edit-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .edit-button:hover {
        opacity: 0.8;
    }

    .card-buttons {
        display: flex;
        gap: 20px;
        align-items: center;
    }

}